
c-col{
    max-width: 15rem;
    min-width: 10rem;
}
img{
  //width: 100%;
  height: 10rem;
}

// .card-body{
//     height: 7rem;
// }

// c-card-body{
//     height: 10rem;
// }

//.mrw{
//    font-weight: 900;
//    font-size: 150%;
//}
//.cardBody{
//  height: 5rem;
//  margin: 0;
//  padding: 1rem;
//}

mat-card{
  //margin: 0;
  //padding: 0;
  height: 20rem;
  background-color: #dadfde;
  }
