<!-- [style.margin-top.px]=height -->
<!--<html>-->
<!--<head>-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!--</head>-->
<c-container fluid class="header ">

<!--  <c-footer class="header" >-->


    <c-row class="align-items-center mt-5">
      <c-col></c-col>
      <c-col [xs]="12" [sm] ="8"  [md]="4">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Suggested product" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">Request</span>
          </div>
        </div>
        <small> <i> Request for a product</i> </small>
      </c-col>
      <c-col></c-col>
    </c-row>


    <c-row class="mt-5">


      <c-col [sm]="12" [md]="4">
          <div class="d-flex justify-content-center">
            <div class="">
              <h3>Customer service</h3>
              <dl>
                <dt>Help Center</dt>
                <dt>Report Abuse</dt>
                <dt>Submit A Complain</dt>
                <dt>Policies and Rules</dt>
              </dl>
            </div>

          </div>
      </c-col>


      <c-col [sm]="12" [md]="4">
        <div class="d-flex justify-content-center">
          <div class="">
            <h3>Contact Us</h3>
            <dl>
              <dt>Mobile:017********</dt>
              <dt>E-mail: floric@gmail.com</dt>
              <dt>Hot-line:9*****</dt>

            </dl>
          </div>

        </div>
      </c-col>


      <c-col [sm]="12" [md]="4">
        <div class="d-flex justify-content-center">
          <div class="">
            <h3>About Us</h3>
            <dl>
              <dt>Floric.com</dt>
              <dt>Floric Group</dt>

              <dt>Sitemap</dt>
            </dl>
          </div>

        </div>
      </c-col>



    </c-row>





<!--    sosoical links-->

    <c-row class="mb-5 mt-3" >
      <c-col></c-col>
      <c-col class="text-center">
        <div class="">
          <h3>Follow Us:</h3>
          <a href="#" class="fa fa-facebook"> </a>
          <a href="#" class="fa fa-twitter"> </a>
          <a href="#" class="fa fa-linkedin"> </a>
          <a href="#" class="fa fa-instagram"> </a>
        </div>
      </c-col>
      <c-col ></c-col>
    </c-row>




<!--  </c-footer>-->
</c-container>
