a {
  color: black;
}

a:active {
  background-color: black;
  color: white;
  font-weight: bold;
}


.headertext {
  font: 400 calc(14px * 0.83)/20px Roboto, "Helvetica Neue", sans-serif;
  margin: 1rem 0 !important;
  color: var(--cui-gray);
  //border-bottom: 1px solid var(--cui-gray);
  font-size: 1.5rem !important;
  padding: 1.5rem;
}

.order_img {
  width: 4rem;
  height: 4rem;
}
