img {
  width: 5rem;
}

// c-container{
//     min-height: 800px;
// }

c-card-header {
  background-color: #272727;
  color: white;

}


.buy_now {
  color: white !important;
  background-color: black;
  margin-right: 5px;
}


.mp0 {
  margin: 0;
  padding: 0;
}
